.vscode/**
.vscode-test/**
.vs/**
language-server/MSBuildProjectTools.*.xml
out/test/**
data/**
docs/**
lib/**
test/**
src/**
**/*.map
.gitignore
.editorconfig
.gitmodules
tsconfig.json
tslint.json
*.ps1
*.sh
**/*.exe
**/*.pdb
global.json
